@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,500&family=Righteous&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,500&family=Righteous&family=Sevillana&display=swap');
body{

    height: 212vh;
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer"
    ;
    gap: 1vh;
    margin:0;
    grid-template-columns: 1fr;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li{
    width: 175px;
    float: right;
    position: relative;
}
ul#menu li ul{
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
}
ul li a{
    display: block;
    text-decoration: none;
    color:#ff1744;
    font-size: 21px;
    text-align: center;
    margin: 5px;
    line-height: 123px;
}
ul li a:hover{
    color: rgb(0, 0, 0);
}
ul#menu li:hover ul{
    display: block;
}
header{
    grid-area: header;
    height: 16vh;
    
}
section{
    grid-area: section;
    height: 170vh;
    width: 100%;
    
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
section>h1{
    flex: 1 1 100%;
}
footer{
    grid-area: footer;
    height: 40vh;
    background-color: rgb(36, 31, 31);
    
}
@media (max-width: 600px)
{

    
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    section > .wrapper,.wrapper2,.wrapper3,.wrapper4{
        flex: 1 1 625px;
        max-width:100%;


    }
}
